<ion-content>
  <!-- <div class="modal-container" id="modal"> -->
  <div class="w-full h-16">
    <div class="w-full flex justify-between border border-b bg-gray-100 h-16">
      <div class="flex p-6">
        <div class="flex w-full px-3 py-[0.75rem] text-[0.875rem] h-[1.125rem] items-center justify-center">
          <div class=" cursor-pointer hover:bg-gray-200" routerLink="/dashboard">
            대쉬보드
          </div>
          <img src="assets/icons/right.svg" class="w-[0.875rem] h-[0.875rem]">
          <div class="text-gray-500 cursor-pointer hover:bg-gray-200" routerLink="../">재고 관리</div>
          <img src="assets/icons/right.svg" class="w-[0.875rem] h-[0.875rem]">
          <div class="text-gray-500">재고 상세</div>
        </div>
      </div>
      <div class="flex px-6 py-4 space-x-4">
        <img src="assets/icons/alter.svg" class="cursor-pointer w-6 h-6">
        <img src="assets/icons/profile_icon.svg" class="cursor-pointer w-8 h-8  ">
      </div>
    </div>
  </div>
  <div class="flex justify-between items-center px-12 pt-12">
    <div class="text-[1.5rem] h-[2.625rem] font-semibold">재고 상세</div>
    <!-- <app-buttons>등록</app-buttons> -->
  </div>
  <div class="flex w-full h-6 space-x-8 my-8 mx-12 font-semibold justify-start items-center">
    <ng-container>
      <div>거래처 명 : {{ stock?.company }}</div>
      <div>상품명 : {{ stock?.products }}</div>
      <div>현재고 : {{ stock?.stock }}개</div>
      <div>총액 : {{ stock?.cost*stock?.stock | number : '1.0-0'}}</div>
    </ng-container>
  </div>
  <div class=" flex gap-2 my-8 mx-12 shadow">
    <div>
      <div class="flex justify-between p-5 space-x-4 w-full text-[0.875rem]">
        <div class="w-full flex space-x-4">
          <!-- <div class="whitespace-nowrap py-[10.09375rem] pr-4">일자 선택</div> -->
          <select name="구분 선택" class="select py-2 border rounded-md px-3 text-[0.875rem]">
            <option value="1">구분 선택</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <div class="flex items-center justify-start border border-b rounded-md px-3 space-x-2">
            <input type="date">
            <!-- <input type="text" class="w-full" placeholder="검색어를 입력해주세요." [(ngModel)]="searchText"> -->
          </div>
          <div class="flex justify-center items-center ">~</div>
          <div class="flex items-center justify-start border border-b rounded-md px-3 space-x-2">
            <input type="date" data-placeholder="2022.12.31">
            <!-- <input type="text" class="w-full" placeholder="검색어를 입력해주세요." [(ngModel)]="searchText"> -->
          </div>

        </div>
        <app-buttons
          class="text-[1.125rem] text-primary border border-primary font-semibold whitespace-nowrap rounded-md"
          (click)="setOpen()">내역 추가
        </app-buttons>
      </div>
      <div class="px-3 py-4 text-[0.875rem]">
        <table class="w-full text-centeritems-center text-left table-fixed">
          <thead>
            <tr>
              <th class="p-4 text-left h-[3.0625rem] flex justify-start items-center">구분</th>
              <th class="p-4 h-[3.0625rem]">재고변동량</th>
              <th class="p-4 h-[3.0625rem]">재고</th>
              <th class="p-4 h-[3.0625rem]">금액</th>
              <th class="p-4 h-[3.0625rem]">사유</th>
              <th class="p-4 h-[3.0625rem] flex justify-start items-center">변동 일자<img src="assets/icons/asc.svg"
                  class="p-2">
              </th>
            </tr>
          </thead>
          <ng-container *ngFor="let Index_l of index_list | filter:searchText">
            <tbody class="hover:bg-gray-100 active:bg-gray-200 items-center">
              <tr>
                <td class="px-4 h-[4.125rem]">{{ Index_l.sort }}</td>
                <td class="px-4 h-[4.125rem]">{{ Index_l.stock_variance }}</td>
                <td class="px-4 h-[4.125rem]">{{ Index_l.stock }}</td>
                <td class="px-4 h-[4.125rem]">단가 : {{ Index_l.cost }}<br>총액 : {{ Index_l.testnum | number:'1.0-0' }}
                </td>
                <td class="px-4 h-[4.125rem]">{{ Index_l.reason }}</td>
                <td class="px-4 h-[4.125rem]">{{ Index_l.date }}</td>
              </tr>
            </tbody>
          </ng-container>
        </table>
      </div>
      <div class="flex justify-between px-5">
        <div class="pt-[1.625rem] pb-[1.875rem] flex justify-center items-center">
          <div
            class="ml-2 flex w-[3.9375rem] h-[2.375rem] border border-gray-700 rounded-lg items-center justify-center shadow-sm">
            <div class="text-[0.875rem] pr-1">
              <select name="test" id="" class="w-full px-2 justify-center">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
              </select>
            </div>
          </div>
          <div class="px-2 text-[0.875rem]">
            개씩 보기
          </div>
        </div>

        <div class="grid grid-flow-col justify-center items-center pr-5 text-center text-gray-700">
          <img src="assets/icons/first_page.svg"
            class="w-[2.25rem] h-[2.25rem] rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
          <img src="assets/icons/left_page.svg"
            class="w-[2.25rem] h-[2.25rem] rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
          <div
            class="rounded-lg w-[2.25rem] h-[2.25rem] flex justify-center items-center bg-primary text-white active:bg-primary active:text-white cursor-pointer">
            1</div>
          <div
            class="w-[2.25rem] h-[2.25rem] rounded-lg flex justify-center items-center bg-gray-100 hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
            2</div>
          <div
            class="w-[2.25rem] h-[2.25rem] rounded-lg flex justify-center items-center hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
            3</div>
          <div
            class="w-[2.25rem] h-[2.25rem] rounded-lg flex justify-center items-center hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
            4</div>
          <img src="assets/icons/more_dot.svg"
            class="w-[2.25rem] h-[2.25rem] rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">

          <img src="assets/icons/right_page.svg"
            class="w-[2.25rem] h-[2.25rem] rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
          <img src="assets/icons/last_page.svg"
            class="w-[2.25rem] h-[2.25rem] rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
        </div>
      </div>
    </div>
  </div>
</ion-content>