<ion-content>
    <!-- <div class="modal-container" id="modal"> -->
    <div class="bg-gray-50">
        <div class="w-full h-16">
            <div class="w-full flex justify-between border border-b bg-gray-100 h-16">
                <div class="flex p-6">
                    <div class="flex w-full px-3 py-[0.75rem] text-[0.875rem] h-[1.125rem] items-center justify-center">
                        <div class=" cursor-pointer hover:bg-gray-200" routerLink="/dashboard">
                            대쉬보드
                        </div>
                        <img src="assets/icons/right.svg" class="w-[0.875rem] h-[0.875rem]">
                        <div class="text-gray-500">교환 관리</div>
                    </div>
                </div>
                <div class="flex px-6 py-4 space-x-4">
                    <img src="assets/icons/alter.svg" class="cursor-pointer w-6 h-6">
                    <img src="assets/icons/profile_icon.svg" class="cursor-pointer w-8 h-8  ">
                </div>
            </div>
        </div>
        <div class="flex justify-between items-center px-12 pt-12">
            <div class="text-[1.5rem] h-[2.625rem] font-semibold">교환 관리</div>
            <!-- <button class="w-14 h-[2.3125rem] rounded-0.375rem text-white bg-primary" (click)="setOpen()">등록</button> -->

        </div>
        <div>
            <!-- Order Frame -->
            <div class="gap-2 my-8 mx-12 shadow bg-white">
                <div class="w-full p-5 flex text-[0.875rem]">
                    <div class="w-full flex justify-between h-[2.3125rem]">
                        <div class="flex space-x-4">
                            <select id="select-menu" [(ngModel)]="selectedOption" class="bx--text-input" required
                                name="actionSelection"
                                class="w-fit border box-border shadow flex justify-center rounded-md items-center px-3 py-2 text-[0.875rem] cursor-pointer">
                                <option *ngFor="let action of actions" [value]="action.id">{{action.name}}</option>
                            </select>
                            <div
                                class="flex items-center justify-start border border-b rounded-md shadow px-3 space-x-2">
                                <input type="date" [(ngModel)]="date1" (ngModelChange)="inputDate()">
                                <!-- <input type="text" class="w-full" placeholder="검색어를 입력해주세요." [(ngModel)]="searchText"> -->
                            </div>
                            <div class="flex justify-center items-center cursor-pointer" (click)="testClicked(date1)">~
                            </div>
                            <div
                                class="flex items-center justify-start border border-b rounded-md shadow px-3 space-x-2 cursor-pointer">
                                <input type="date" [(ngModel)]="date2">
                                <!-- <input type="text" class="w-full" placeholder="검색어를 입력해주세요." [(ngModel)]="searchText"> -->
                            </div>
                        </div>
                        <div class="flex items-center space-x-6">
                            <div class="flex space-x-2">
                                <app-buttons class="border border-yellow-500 text-yellow-400 rounded-md"
                                    (click)="setOpen()">승인</app-buttons>
                            </div>
                            <app-buttons class="border border-green-500 text-green-400 rounded-md" (click)="setOpen2()">
                                상품확인</app-buttons>
                        </div>
                    </div>
                </div>
                <!-- Order detail Frame -->
                <div class="px-3 py-[0.09375rem] text-[0.875rem]">
                    <table class="w-full text-centeritems-center text-left table-fixed">
                        <thead>
                            <tr>
                                <th class="p-4 w-full">
                                    <div class="flex space-x-2 justify-center items-center">
                                        <div>
                                            전체
                                        </div>
                                        <!-- <ng-container *ngFor="let order of orders"> -->
                                        <input [(ngModel)]="allChecked" type="checkbox" class="cursor-pointer"
                                            (click)="checkAll()">
                                        <!-- </ng-container> -->
                                    </div>
                                </th>
                                <th class="p-4 w-full">주문번호</th>
                                <th class="p-4 w-full">주문상태</th>
                                <th class="p-4 w-full">배송상태</th>
                                <th class="p-4 w-full">교환정보요약</th>
                                <th class="p-4 w-full">배송정보요약</th>
                                <th class="p-4 w-full">교환요청일자</th>
                            </tr>
                        </thead>
                        <ng-container *ngFor="let order of pagedItems | filter: date1 | filter: selectedOption">
                            <tbody class="hover:bg-gray-100 active:bg-gray-200 items-center w-full"
                                (click)="goDetail($event, order.orderNumber)">
                                <tr>
                                    <td class=" w-full h-full">
                                        <div class="flex justify-center items-center">
                                            <input #checkbox type="checkbox" class="cursor-pointer checkbox"
                                                (click)="isClicked(order.orderNumber)">
                                        </div>
                                    </td>
                                    <td class="p-4">{{order.createdAt | date: 'yyyyMMdd'}}{{ order.orderNumber }}
                                    </td>
                                    <td class="p-4">
                                        <div [ngClass]="orderClass(order.orderStatus)">
                                            {{ order.orderStatus }}
                                        </div>
                                    </td>
                                    <td class="p-4">
                                        <div [ngClass]="shippingClass(order.shippingStatus)">
                                            {{ order.shippingStatus }}
                                        </div>
                                    </td>
                                    <!-- 교환정보 -->
                                    <td class="p-4">
                                        {{ order.product }} x {{ order.amount }}<br>
                                        {{ order.orderName }} : 0{{ order.phoneNumber }}
                                    </td>
                                    <!-- 배송정보 -->
                                    <td class="p-4">
                                        {{ order.shipping }}<br>
                                        배송비 : {{ order.shipcost | number: '1.0-0' }}원(자부담)<br>
                                        {{ order.shipAddress }}
                                    </td>
                                    <!-- 교환 요청 일자 -->
                                    <td class="p-4">{{ order.createdAt | date: 'yyyy-MM-dd' }}</td>
                                    <!-- <td class="px-4 h-[4.125rem]">{{ order.buy }}<br>{{ order.sell }}</td>
                                  <td class="px-4 h-[4.125rem]">{{ order.regist }}<br>{{ order.update }}</td> -->
                                </tr>
                            </tbody>
                        </ng-container>
                    </table>
                </div>
                <div class="flex justify-between px-5">
                    <div class="pt-[1.625rem] pb-[1.875rem] flex justify-center items-center">
                        <select name="test" [(ngModel)]="selectedOption2" (ngModelChange)="dataChanged($event)"
                            class="w-fit border box-border shadow rounded-md flex justify-center items-center px-3 py-2 text-[0.875rem] cursor-pointer">
                            <option *ngFor="let action of actions2" [value]="action.id">{{action.name}}</option>
                        </select>
                        <div class="px-2 text-[0.875rem]">
                            개씩 보기
                        </div>
                    </div>

                    <div class="grid grid-flow-col justify-center items-center pr-5 text-center text-gray-700"
                        *ngIf="pager?.pages && pager?.pages.length">
                        <img src="assets/icons/first_page.svg" (click)="setPage(1)"
                            class="w-9 h-9 rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                        <img src="assets/icons/left_page.svg" (click)="setPage(pager.currentPage - 1)"
                            class="w-9 h-9 rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">

                        <div *ngFor="let page of pager.pages" (click)="setPage(page)"
                            [ngClass]="pager.currentPage === page ? 'border border-primary':''"
                            class="rounded-lg w-9 h-9 flex justify-center items-center active:bg-primary active:text-white cursor-pointer">
                            {{page}}
                        </div>
                        <img src="assets/icons/more_dot.svg"
                            class="w-9 h-9 rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">

                        <img src="assets/icons/right_page.svg" (click)="setPage(pager.currentPage + 1)"
                            class="w-9 h-9 rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                        <img src="assets/icons/last_page.svg" (click)="setPage(pager.totalPages)"
                            class="w-9 h-9 rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>