.btn-upload {
    width: 150px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: rgb(77, 77, 77);
        color: #fff;
    }
}

.myinput {
    display: none;
}

.my_cancel {
    position: absolute;
    left: 116px;
    top: -10px;
    z-index: 0;
}
.my_addImage{
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.test_post{
    // left: 100%;
    bottom: 101%;
    // top: 102%;
    z-index: 1;
}