// .은 클래스
.select {
    -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
//   background: url('assets/icons/accordian.svg') calc(100% - 0.3125rem) center no-repeat;
}

// id 입력
#select {

}

select::-ms-expand{
    display: none;
}