<ion-content>
    <div class="w-full h-16">
        <div class="w-full flex justify-between border border-b bg-gray-100 h-16">
            <div class="flex p-6">
                <div class="flex w-full px-3 py-[12px] text-[14px] h-[18px] items-center justify-center">
                    <div class=" cursor-pointer hover:bg-gray-200" routerLink="/dashboard">
                        대쉬보드
                    </div>
                    <img src="assets/icons/right.svg" class="w-[14px] h-[14px]">
                    <div class="text-gray-500">상품 관리</div>
                </div>
            </div>
            <div class="flex px-6 py-4 space-x-4">
                <img src="assets/icons/alter.svg" class="cursor-pointer w-6 h-6">
                <img src="assets/icons/profile_icon.svg"
                    class="cursor-pointer w-8 h-8 hover:bg-red-500 focus:ring-black">
            </div>
        </div>
    </div>

    <div class="flex justify-between items-center px-12 pt-12">
        <div class="text-[24px] h-[29px]">상품 관리</div>
        <button class="w-14 h-[37px] rounded-[6px] text-white bg-primary">등록</button>
    </div>
    <div class="shadow-[12px] text-[24px] items-center px-12 pt-8 w-full h-[915px]">
        <div class="py-[20px] px-[20px] mt-[29px]  rounded-lg bg-white text-[14px]">
            <div class="border border-b rounded-[10px]">
                <input placeholder="유저명 또는 User ID 를 입력해주세요." [(ngModel)]="searchText" type="text"
                    class="w-full px-[10px] py-[10px] rounded-[10px]">
            </div>
            <!-- 기존 코드 삭제한 곳 -->
            <table class="w-full text-centeritems-center table-fixed">
                <thead>
                    <tr>
                        <th class="p-2 text-left h-full flex justify-start items-center">이름
                            <img src="assets/icons/asc.svg" class="p-2">
                        </th>
                        <th class="p-2 h-full">User ID</th>
                        <th class="p-2 h-full">성별</th>
                        <th class="p-2 h-full flex justify-center items-center">나이
                            <img src="assets/icons/asc.svg" class="p-2">
                        </th>
                        <th class="p-2 h-full">거주지</th>
                        <th class="w-[50px]">설정</th>
                    </tr>
                </thead>
                <ng-container *ngFor="let Index_l of index_list | filter:searchText">
                    <tbody class="text-center hover:bg-gray-100 active:bg-gray-200">
                        <tr>
                            <td class="p-2 text-left" routerLink="/user_target">{{ Index_l.name }}</td>
                            <td class="p-2">{{ Index_l.user_id }}</td>
                            <td class="p-2">{{ Index_l.gender }}</td>
                            <td class="p-2">{{ Index_l.age }}</td>
                            <td class="text-left p-2">{{ Index_l.residence }}</td>
                            <td class="p-2">
                                <img src="assets/icons/edit.svg" class="cursor-pointer">
                                <!-- <ion-modal [isOpen]="isModalOpen" class="mymodal w-full h-full">
                                <ng-template>
                                     (click)="setOpen(true)
                                    <div class="w-full h-50 flex">
                                        <img src="../../assets/human_image/ujs.svg"
                                            class="w-[150px] h-[200px] p-[5px]">
                                        <div class="text-[14px]">
                                            <div class="pl-[7px] w-full h-12 flex text-[14px]">
                                                <div class="h-[38px] w-[26px] pt-5 pb-[7px]">이름</div>
                                                <input type="text"
                                                    class="mx-3 px-3 my-[10px] rounded-lg w-[263.67px] h-[38px] border border-gray-200 shadow-sm "
                                                    value="유재석">
                                                <div class="h-[38px] w-[52px] pt-5">전화번호</div>
                                                <input type="text"
                                                    class=" my-[10px] mx-3 rounded-lg w-[263.67px] h-[38px] px-3 border border-gray-200 shadow-sm"
                                                    value="010-1234-5678">
                                                <div class="h-[38px] w-[39px] pt-5">아이디</div>
                                                <input type="text"
                                                    class=" my-[10px] mx-3 rounded-lg w-[263.67px] h-[38px] px-3 border border-gray-200 shadow-sm"
                                                    value="JSY">
                                            </div>
                                            <div class="flex pt-[5px] h-[38px]">
                                                <div class="pl-[7px] flex justify-start items-center">나이
                                                    <div
                                                        class="ml-3 flex w-[63px] h-[38px] border-[5px] border-gray-300 rounded-lg items-center justify-center">
                                                        <div class="text-[14px] pr-1">
                                                            <select name="age" id=""
                                                                class="w-full px-2 justify-center">
                                                                <option value="50">50</option>
                                                                <option value="51">51</option>
                                                                <option value="52">52</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pl-[7px] flex justify-start items-center">성별
                                                    <div
                                                        class="ml-2 flex w-[72px] h-[38px] border-[3px] border-gray-200 border-b-2 rounded-lg items-center justify-center">
                                                        <div class="text-[14px] pr-1">
                                                            <select name="sexual" id=""
                                                                class="w-full px-2 justify-center">
                                                                <option value="남성">남성</option>
                                                                <option value="여성">여성</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="h-[18px] w-[26px] pl-[17px] pr-2">키</div>
                                                    <input type="text"
                                                        class="mx-3 pl-2 my-[10px] rounded-lg w-[322px] h-[38px] border border-gray-200 shadow-sm"
                                                        value="178                                                                        (CM)">
                                                    <div class="h-[39px] w-[52px] py-[10px]">몸무게</div>
                                                    <input type="text"
                                                        class=" my-[10px] mx-3 rounded-lg w-[322px] h-[38px] pl-2 border border-gray-200 shadow-sm"
                                                        value="78                                                                         (KG)">
                                                </div>
                                            </div>
                                            <div class="pl-[7px] pt-2">이메일</div>
                                            <input type="email"
                                                class="w-[958px] h-[38px] pt-[3px] mx-3 rounded-lg pl-[7px] border border-gray-200 shadow-sm"
                                                value="dkanskcj@likelion.org">
                                            <div class="pl-[7px]  px-[10px] flex justify-center items-center">
                                                <div class="w-[39px] h-[18px]">
                                                    거주지
                                                </div>
                                                <input type="text"
                                                    class=" my-[10px] mx-3 pr-[10px] rounded-lg w-[909px] h-[38px] pl-2 border border-gray-200 shadow-sm"
                                                    value="광주광역시 어딘가 거주중">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-[14px] pt-[33px] px-5">자기 소개
                                        <div
                                            class="text-[14px] px-3 py-[10px] w-[1095px] h-[550px] border border-b-2">
                                            런닝맨 다수 출연, 운동 자주 함 유재석 짱짱맨</div>
                                    </div>
                                    <ion-buttons slot="end" class="flex justify-end pt-[30px] pb-[10px]">
                                        <ion-button
                                            class="w-[61px] h-[30px] bg-primary-nosel_dot rounded-md text-white"
                                            (click)="setOpen(false)">취소</ion-button>
                                        <ion-button
                                            class="w-[61px] h-[30px] bg-primary-Lighter rounded-md text-white"
                                            (click)="setOpen(false)">적용</ion-button>
                                    </ion-buttons>
                                </ng-template>
                            </ion-modal> -->
                            </td>
                        </tr>
                    </tbody>
                </ng-container>
            </table>

            <div class="w-full">
                <div class="flex justify-between">
                    <div class="pt-[26px] pb-[30px] flex justify-center items-center">페이지 별 목록 개수
                        <div
                            class="ml-2 flex w-[63px] h-[38px] border-[3px] border-gray-700 border-b-2 rounded-lg items-center justify-center">
                            <div class="text-[14px] pr-1">
                                <select name="test" id="" class="w-full px-2 justify-center">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="grid grid-flow-col justify-center items-center pr-5 text-center text-gray-700">
                        <img src="assets/icons/first_page.svg"
                            class="w-9 h-9 rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                        <img src="assets/icons/left_page.svg"
                            class="w-9 h-9 rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                        <div
                            class="rounded-lg w-9 h-9 flex justify-center items-center bg-primary text-white active:bg-primary active:text-white cursor-pointer">
                            1</div>
                        <div
                            class="w-9 h-9 rounded-lg flex justify-center items-center bg-gray-100 hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                            2</div>
                        <div
                            class="w-9 h-9 rounded-lg flex justify-center items-center hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                            3</div>
                        <div
                            class="w-9 h-9 rounded-lg flex justify-center items-center hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                            4</div>
                        <img src="assets/icons/more_dot.svg"
                            class="w-9 h-9 rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">

                        <img src="assets/icons/right_page.svg"
                            class="w-9 h-9 rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                        <img src="assets/icons/last_page.svg"
                            class="w-9 h-9 rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>