<ion-content>
    <div class="bg-gray-50 select-none">
        <div class="w-full h-16">
            <div class="w-full flex justify-between border border-b bg-gray-100 h-16">
                <div class="flex p-6">
                    <div class="flex w-full px-3 py-[12px] text-[14px] h-[18px] items-center justify-center">
                        <!-- <div class=" cursor-pointer hover:bg-gray-200" routerLink="/dashboard">
                            대쉬보드
                        </div>
                        <img src="assets/icons/right.svg" class="w-[14px] h-[14px]"> -->
                        <div class="text-gray-500">상품 관리</div>
                    </div>
                </div>
                <div class="flex px-6 py-4 space-x-4">
                    <img src="assets/icons/alter.svg" class="cursor-pointer w-6 h-6">
                    <img src="assets/icons/profile_icon.svg" class="cursor-pointer w-8 h-8">
                </div>
        </div>
        </div>

        <div class="flex justify-between items-center px-12 pt-12">
            <div class="text-[24px] h-[42px] font-bold">상품 관리</div>
            <app-buttons routerLink="/register">등록</app-buttons>
        </div>

        <div class="h-[915px] flex gap-2 my-8 mx-12 shadow bg-white">
            <div class="h-[858px]">
                <div class="flex p-5 space-x-4 w-full h-[53px] text-[14px]">
                    <div class="space-y-2">
                        <select id="select-menu" [(ngModel)]="selectedOption" class="bx--text-input" required
                            name="actionSelection"
                            class="w-[120px] border box-border shadow flex justify-center items-center px-3 py-2 text-[14px] cursor-pointer">
                            <option *ngFor="let action of actions" [value]="action.id">{{action.name}}</option>
                        </select>
                        <div>
                            <div *ngIf="selectedOption==1">
                                <!-- <div>1 selected</div> -->
                            </div>
                            <div *ngIf="selectedOption==2">
                                <!-- <div>2 selected</div> -->
                            </div>
                            <div *ngIf="selectedOption==3">
                                <!-- <div>3 selected</div> -->
                            </div>
                            <div *ngIf="selectedOption==4">
                                <!-- <div>4 selected</div> -->
                            </div>
                            <div *ngIf="selectedOption==5">
                                <!-- <div>5 selected</div> -->
                            </div>
                        </div>
                    </div>
                    <div
                        class="w-full h-[37px] flex items-center justify-start border border-b rounded-md px-3 space-x-2">
                        <img src="assets/icons/search_icon.svg">
                        <input type="text" class="w-full" placeholder="검색어를 입력해주세요." [(ngModel)]="searchText">
                    </div>
                </div>
                <div class="px-3 py-[17.5px] text-[14px]">
                    <table class="w-full text-centeritems-center text-left table-fixed">
                        <thead>
                            <tr>
                                <th class="p-4 text-left h-[49px] flex justify-start items-center">브랜드명
                                </th>
                                <th class="p-4 h-[49px]">상품명</th>
                                <th class="p-4 h-[49px]">재고</th>
                                <th class="p-4 h-[49px]">상태
                                </th>
                                <th class="p-4 h-[49px]">금액</th>
                                <th class="p-4 h-[49px]">일자</th>
                            </tr>
                        </thead>
                        <ng-container *ngFor="let product of index_list | filter:searchText">
                            <tbody class="hover:bg-gray-100 active:bg-gray-200 items-center" routerLink="details">
                                <!-- <tbody class="hover:bg-gray-100 active:bg-gray-200 items-center" [routerLink]="'/modify/'+product.id"></tbody> -->
                                <tr>
                                    <!-- <td class="px-4 h-[66px]">{{ product.brandName }}</td>
                                    <td class="px-4 h-[66px]">{{ product.name }}</td>
                                    <td class="px-4 h-[66px]">{{ product.amount }}</td>
                                    <td class="px-4 h-[66px]">{{ product.time }}</td>
                                    <td class="px-4 h-[66px]">{{ product.cost }}</td>
                                    <td class="px-4 h-[66px]">{{ product.createdAt | date }}</td>
                                    <td class="px-4 h-[66px]">{{ product.stock }}</td> -->
                                    <td class="px-4 h-[66px]">{{ product.brand }}</td>
                                    <td class="px-4 h-[66px]">{{ product.name }}</td>
                                    <td class="px-4 h-[66px]">{{ product.stock }}</td>
                                    <td class="px-4 h-[66px]" *ngIf="product.status === true">
                                        <div class="w-[47px] bg-green-50 border border-green-100 rounded-[2px] text-green-700"
                                            searchText='판매중'>
                                            판매중</div>
                                    </td>
                                    <td class="px-4 h-[66px]" *ngIf="product.status === false">
                                        <div
                                            class="w-[60px] whitespace-nowrap bg-red-50 border border-red-100 rounded-[2px] text-red-700">
                                            판매중지</div>
                                    </td>
                                    <td class="px-4 h-[66px]">{{ product.buy }}<br>{{ product.sell }}</td>
                                    <td class="px-4 h-[66px]">{{ product.regist }}<br>{{ product.update }}</td>
                                </tr>
                            </tbody>
                        </ng-container>
                    </table>
                </div>
                <div class="flex justify-between px-5">
                    <div class="pt-[26px] pb-[30px] flex justify-center items-center">
                        <div
                            class="ml-2 flex w-[63px] h-[38px] border border-gray-700 rounded-lg items-center justify-center shadow-sm">
                            <div class="text-[14px] pr-1">
                                <select name="test" id="" class="w-full px-2 justify-center">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                </select>
                            </div>
                        </div>
                        <div class="px-2 text-[14px]">
                            개씩 보기
                        </div>
                    </div>

                    <div class="grid grid-flow-col justify-center items-center pr-5 text-center text-gray-700">
                        <img src="assets/icons/first_page.svg"
                            class="w-9 h-9 rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                        <img src="assets/icons/left_page.svg"
                            class="w-9 h-9 rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                        <div
                            class="rounded-lg w-9 h-9 flex justify-center items-center bg-primary text-white active:bg-primary active:text-white cursor-pointer">
                            1</div>
                        <div
                            class="w-9 h-9 rounded-lg flex justify-center items-center bg-gray-100 hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                            2</div>
                        <div
                            class="w-9 h-9 rounded-lg flex justify-center items-center hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                            3</div>
                        <div
                            class="w-9 h-9 rounded-lg flex justify-center items-center hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                            4</div>
                        <img src="assets/icons/more_dot.svg"
                            class="w-9 h-9 rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">

                        <img src="assets/icons/right_page.svg"
                            class="w-9 h-9 rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                        <img src="assets/icons/last_page.svg"
                            class="w-9 h-9 rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>