<ion-content>
  <div class="w-full h-full bg-gray-50">
    <div class="w-full h-16">
      <div class="w-full flex justify-between border border-b bg-gray-100 h-16">
        <div class="flex p-6">
          <div class="flex w-full px-3 py-[12px] text-[14px] h-[18px] items-center justify-center">
            <div class=" cursor-pointer hover:bg-gray-200" routerLink="/items">
              상품 관리
            </div>
            <img src="assets/icons/right.svg" class="w-[14px] h-[14px]">
            <div class="text-gray-500">상품 상세</div>
          </div>
        </div>
        <div class="flex px-6 py-4 space-x-4">
          <img src="assets/icons/alter.svg" class="cursor-pointer w-6 h-6">
          <img src="assets/icons/profile_icon.svg" class="cursor-pointer w-8 h-8">
        </div>
      </div>
    </div>
    <div class="flex justify-between items-center px-12 pt-12">
      <div class="text-[24px] h-[29px] font-bold">상품 상세</div>
    </div>
    <div class="w-full h-full">
      <div>
        <div class="font-semibold gap-2 mt-8 mx-12">
          <div class="flex text-[20px] pb-2">썸네일<div class="text-red-600">*</div>
          </div>
        </div>
        <div class="h-full w-full gap-2 py-1 mx-12 shadow pr-12 bg-white border box-border rounded-lg">
          <div class="rounded-lg p-5">
            <div class="flex relative space-x-">
              <div>
                <div class="my_index_num_pro relative text-white bg-black bg-opacity-20 rounded-lg p-2">{{ slideIndex +
                  1}} / {{ thumbimages.length }}</div>
                <img class="w-[540px] h-[540px] rounded-lg" [src]="thumbimages[slideIndex]" />
                <div (click)="plusSlides(1)"
                  class="my_right_btn_pro flex items-center bg-black bg-opacity-30 justify-center w-12 h-12 rounded-full cursor-pointer active:bg-black active:bg-opacity-50">
                  <img src="assets/icons/right_icon.svg" class="my_right_icon_pro">
                </div>
              </div>
              <div class="flex justify-center itece px-[33px]">
                <div class="flex space-x-[9.5px] justify-center items-center">
                  <div class="w-[47px] h-[47px] border-2 border-green-800 rounded-lg bg-green-800">
                    <img src="assets/icons/sunglass.jpg" class="rounded-lg w-[44px] h-[44px] mt-[-1px]">
                  </div>
                  <ng-container *ngFor="let t of imageObject; index as i">
                    <!-- <div class="w-[47px] h-[47px] border-2 border-green-800 rounded-lg bg-green-800" *ngIf="slideIndex+1 === i"> -->
                    <!-- <div class="relative"> -->
                      <!-- </div> -->
                      <div class="w-[47px] h-[47px] border-2 border-green-800 rounded-lg bg-green-800" *ngIf="slideIndex+1 === i || thumbimages.length">
                        <img [src]="t.thumbImage" class="w-[44px] h-[44px] rounded-lg mt-[-1px]">
                      </div>
                    <!-- </div> -->
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <!-- Product Information -->
        <div class="gap-2 mt-8 mx-12 space-y-4">
          <div class="font-semibold flex text-[20px] pb-2">상품 정보
          </div>
          <!-- Product Information Frame -->
          <div class="border box-border shadow rounded-lg bg-white text-[14px]">
            <div class="p-2 space-y-3">
              <div>
                <!-- Product Information line_1 -->
                <div class="flex">
                  <div class="w-[272px]">
                    <div class="flex">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" r="3" fill="black" />
                      </svg>
                      <div class="flex justify-center items-center">
                        판매상태
                      </div>
                    </div>
                    <div>
                      <div class="font-semibold p-[10px]">
                        판매중지
                      </div>
                    </div>
                  </div>
                  <div class="w-[272px]">
                    <div class="flex">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" r="3" fill="black" />
                      </svg>
                      <div class="flex justify-center items-center">
                        카테고리
                      </div>
                    </div>
                    <div>
                      <div class="font-semibold p-[10px]">
                        사각 프레임
                      </div>
                    </div>
                  </div>
                  <div class="w-[272px]">
                    <div class="flex">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" r="3" fill="black" />
                      </svg>
                      <div class="flex justify-center items-center">
                        상품명
                      </div>
                    </div>
                    <div>
                      <div class="font-semibold p-[10px]">
                        티쓰-001 블랙 썬글라스
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Product Information line2 -->
                <div class="flex">
                  <div class="w-[272px]">
                    <div class="flex">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" r="3" fill="black" />
                      </svg>
                      <div class="flex justify-center items-center">
                        판매가
                      </div>
                    </div>
                    <div>
                      <div class="font-semibold p-[10px]">
                        30,000원
                      </div>
                    </div>
                  </div>
                  <div class="w-[272px]">
                    <div class="flex">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" r="3" fill="black" />
                      </svg>
                      <div class="flex justify-center items-center">
                        할인금액/율
                      </div>
                    </div>
                    <div>
                      <div class="font-semibold p-[10px]">
                        2,000원
                      </div>
                    </div>
                  </div>
                  <div class="w-[272px]">
                    <div class="flex">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" r="3" fill="black" />
                      </svg>
                      <div class="flex justify-center items-center">
                        할인기간
                      </div>
                    </div>
                    <div>
                      <div class="font-semibold p-[10px]">
                        2022-12-31 ~ 2022-12-31
                      </div>
                    </div>
                  </div>
                  <div class="w-[272px]">
                    <div class="flex">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" r="3" fill="black" />
                      </svg>
                      <div class="flex justify-center items-center">
                        할인가
                      </div>
                    </div>
                    <div>
                      <div class="font-semibold p-[10px]">
                        28,000원
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Product Information line3 -->
                <div class="flex">
                  <div class="w-[272px]">
                    <div class="flex">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" r="3" fill="black" />
                      </svg>
                      <div class="flex justify-center items-center">
                        재고수량
                      </div>
                    </div>
                    <div>
                      <div class="font-semibold p-[10px]">
                        999개
                      </div>
                    </div>
                  </div>
                  <div class="w-[272px]">
                    <div class="flex">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" r="3" fill="black" />
                      </svg>
                      <div class="flex justify-center items-center">
                        부가세
                      </div>
                    </div>
                    <div>
                      <div class="font-semibold p-[10px]">
                        과세 상품
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Product Information line4 -->
                <div class="flex">
                  <div>
                    <div class="flex">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" r="3" fill="black" />
                      </svg>
                      <div class="flex justify-center items-center">
                        옵션
                      </div>
                    </div>
                    <div>
                      <div class="font-semibold p-[10px]">
                        나무케이스(+10,000원, 블랙-9,999개, 레드-9,999개),<br>
                        플라스틱케이스(+20,000원, 레드-9,999개, 블루-9,999개, 그린-0개),<br>
                        메탈케이스(+30,000원, 실버-10개, 골드9,999개)
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Product detail Info Frame -->
          <div>
            <div class="p-2 border box-border shadow rounded-lg bg-white">
              <div class="flex">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="12" cy="12" r="3" fill="black" />
                </svg>
                <div class="flex justify-center items-center">
                  상세정보
                </div>
              </div>
              <!-- Text Line ~~ -->
              <div>
                <div class="p-[10px] font-semibold">
                  텍스트도 들어가고~<br><br><br><br><br>이미지도 들어가고~<br><br>텍스트도 들어가고~
                  <br><br><br><br>이미지도 들어가고~<br><br>텍스트도 들어가고~<br><br><br><br>이미지도 들어가고~<br><br>
                  텍스트도 들어가고~<br><br><br>이미지도 들어가고~
                </div>
              </div>
            </div>
          </div>
          <!-- Product settings Information -->
          <div>
            <!-- Product settings Information Frame -->
            <div class="border box-border shadow rounded-lg bg-white text-[14px]">
              <div class="p-2 space-y-3">
                <div>
                  <!-- Product settings Information line_1 -->
                  <div class="flex">
                    <div class="w-[272px]">
                      <div class="flex">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="12" cy="12" r="3" fill="black" />
                        </svg>
                        <div class="flex justify-center items-center">
                          모델명
                        </div>
                      </div>
                      <div>
                        <div class="font-semibold p-[10px]">
                          티쓰001-블랙 썬글라스
                        </div>
                      </div>
                    </div>
                    <div class="w-[272px]">
                      <div class="flex">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="12" cy="12" r="3" fill="black" />
                        </svg>
                        <div class="flex justify-center items-center">
                          브랜드
                        </div>
                      </div>
                      <div>
                        <div class="font-semibold p-[10px]">
                          (주)티쓰
                        </div>
                      </div>
                    </div>
                    <div class="w-[272px]">
                      <div class="flex">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="12" cy="12" r="3" fill="black" />
                        </svg>
                        <div class="flex justify-center items-center">
                          상품명
                        </div>
                      </div>
                      <div>
                        <div class="font-semibold p-[10px]">
                          티쓰-001 블랙 썬글라스
                        </div>
                      </div>
                    </div>
                    <div class="w-[272px]">
                      <div class="flex">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="12" cy="12" r="3" fill="black" />
                        </svg>
                        <div class="flex justify-center items-center">
                          원산지
                        </div>
                      </div>
                      <div>
                        <div class="font-semibold p-[10px]">
                          대한민국
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Product settings Information line2 -->
                  <div class="flex">
                    <div class="w-[272px]">
                      <div class="flex">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="12" cy="12" r="3" fill="black" />
                        </svg>
                        <div class="flex justify-center items-center">
                          KC인증
                        </div>
                      </div>
                      <div>
                        <div class="font-semibold p-[10px]">
                          KC인증 없음
                        </div>
                      </div>
                    </div>
                    <div class="w-[272px]">
                      <div class="flex">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="12" cy="12" r="3" fill="black" />
                        </svg>
                        <div class="flex justify-center items-center">
                          인증정보
                        </div>
                      </div>
                      <div>
                        <div class="font-semibold p-[10px]">
                          썬글라스 렌즈 품질 보증서.jpg
                        </div>
                      </div>
                    </div>
                    <div class="w-[272px]">
                      <div class="flex">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="12" cy="12" r="3" fill="black" />
                        </svg>
                        <div class="flex justify-center items-center">
                          맞춤제작
                        </div>
                      </div>
                      <div>
                        <div class="font-semibold p-[10px]">
                          설정함
                        </div>
                      </div>
                    </div>
                    <div class="w-[272px]">
                      <div class="flex">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="12" cy="12" r="3" fill="black" />
                        </svg>
                        <div class="flex justify-center items-center">
                          제조/유효일자
                        </div>
                      </div>
                      <div>
                        <div class="font-semibold p-[10px]">
                          2022-12-31 / 2022-12-31
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Product settings Information line3 -->
                  <div class="flex">
                    <div class="w-[272px]">
                      <div class="flex">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="12" cy="12" r="3" fill="black" />
                        </svg>
                        <div class="flex justify-center items-center">
                          미성년자 구매
                        </div>
                      </div>
                      <div>
                        <div class="font-semibold p-[10px]">
                          가능함
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Refund/Exchange Information Frame -->
          <div>
            <div class="font-semibold flex text-[20px] pb-2">반품/교환 정보
            </div>
            <!-- Refund/Exchange Information -->
            <div class="border box-border shadow rounded-lg bg-white text-[14px]">
              <div class="p-2 space-y-3">
                <div>
                  <!-- Refund/Exchange Information line_1 -->
                  <div class="flex">
                    <div class="w-[272px]">
                      <div class="flex">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="12" cy="12" r="3" fill="black" />
                        </svg>
                        <div class="flex justify-center items-center">
                          반품/교환 택배사
                        </div>
                      </div>
                      <div>
                        <div class="font-semibold p-[10px]">
                          한진택배
                        </div>
                      </div>
                    </div>
                    <div class="w-[272px]">
                      <div class="flex">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="12" cy="12" r="3" fill="black" />
                        </svg>
                        <div class="flex justify-center items-center">
                          반품 배송비(편도)
                        </div>
                      </div>
                      <div>
                        <div class="font-semibold p-[10px]">
                          3,000원
                        </div>
                      </div>
                    </div>
                    <div class="w-[272px]">
                      <div class="flex">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="12" cy="12" r="3" fill="black" />
                        </svg>
                        <div class="flex justify-center items-center">
                          교환 배송비(왕복)
                        </div>
                      </div>
                      <div>
                        <div class="font-semibold p-[10px]">
                          6,000원
                        </div>
                      </div>
                    </div>
                    <div class="w-[272px]">
                      <div class="flex">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="12" cy="12" r="3" fill="black" />
                        </svg>
                        <div class="flex justify-center items-center">
                          반품/교환 배송지
                        </div>
                      </div>
                      <div>
                        <div class="font-semibold p-[10px]">
                          광주 남구 회재로 1290-1, 4층
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Refund/Exchange Information line2 -->
                  <div class="flex">
                    <div class="w-[272px]">
                      <div class="flex">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="12" cy="12" r="3" fill="black" />
                        </svg>
                        <div class="flex justify-center items-center">
                          반품/교환처 대표 연락처
                        </div>
                      </div>
                      <div>
                        <div class="font-semibold p-[10px]">
                          010-1111-1111
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Refund/Exchange Information line3 -->
                  <div class="flex">
                    <div class="w-[272px]">
                      <div class="flex">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="12" cy="12" r="3" fill="black" />
                        </svg>
                        <div class="flex justify-center items-center">
                          반품/교환 불가능 사유
                        </div>
                      </div>
                      <div>
                        <div class="font-semibold p-[10px]">
                          1. 구매일로 부터 7일이 지난 경우<br>
                          2. 고객의 부주의로 제품이 파손된 경우<br>
                          3. 택을 제거한 경우<br>
                          4. 제품을 개봉하여 제품을 훼손한 경우<br>
                          &nbsp;단, 내용 확인을 위해 포장을 개봉한 경우에는 반품 가능합니다.<br>
                          5. 부소품이 반송되지 않은 경우 ex)주문확인서, 단추, 상품의 부속품, 택, 라벨, 박스<br>
                          6. 기타, '전자상거래 등에서의 소비자 보호에 고나한 법률'이 정하는 청약철회 제한사유에 해당하는 경우
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="font-semibold flex text-[20px] pb-2">AS 및 특이사항
            </div>
            <div class="border box-border shadow rounded-lg">
              <div>
                <div class="p-[10px]">
                  AS 및 특이사항<br>
                  당장은<br>
                  뭘 입력해야할련지....감은 안오지만...<br>
                  일단은 공간 좀 차지 해두고....<br>
                  완료
                </div>
              </div>
            </div>
          </div>
          <div class="flex justify-between text-[18px] font-semibold pt-8 pb-[18px]">
            <div class="flex space-x-4">
              <div class="border box-border shadow rounded-lg px-3 py-2 cursor-pointer text-gray-500 border-gray-400"
                routerLink="/items">
                목록</div>
              <div class="border box-border shadow rounded-lg px-3 py-2 cursor-pointer text-red-500 border-red-400"
                (click)="setOpen()">
                삭제</div>
            </div>
            <div class="border box-border shadow rounded-lg px-3 py-2 cursor-pointer text-primary border-primary"
              routerLink="../modify">수정</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>