  <div class="flex">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="12" cy="12" r="3" fill="black" />
    </svg>
    <div class="flex justify-center items-center">
      {{ label }}{{ label2 }}
    </div>
  </div>
  <div>
    <div class="font-semibold p-[0.625rem] space-y-[0.625rem]">
      <div>
        {{ nextLabel }}{{ nextLabel2 }}
      </div>
      <div>
        {{ nextLabel3 }}{{ nextLabel4 }}
      </div>
    </div>
  </div>