@media (min-width: 680px) {
    .modify_modal {
        --width: 348px;
        --height: 207px;
        font-size: 16px;
        --border-radius: 4px;
        border-radius: 8px;
    }
}

.drag-drop-wrap {
    .drag-drop-zone {
      border: 2px dotted blue;
      border-radius: 20px;
      width: 400px;
      height: 200px;
      justify-self: center;
      align-self: center;
    //   background-image: url("assets/icons/search_icon.svg");
      background-size: 50px;
      background-position: center;
      background-repeat: no-repeat;
      margin: 30px auto;
    }
  
    .drag-drop-zone:hover {
      background-color: #ecebeb;
      cursor: pointer;
    }
  }