<ion-content>
  <div class="w-full h-full bg-gray-50">
    <div class="w-full h-16">
      <div class="w-full flex justify-between border border-b bg-gray-100 h-16">
        <div class="flex p-6">
          <div class="flex w-full px-3 py-[12px] text-[14px] h-[18px] items-center justify-center">
            <div class=" cursor-pointer hover:bg-gray-200" routerLink="/items">
              상품 관리
            </div>
            <img src="assets/icons/right.svg" class="w-[14px] h-[14px]">
            <div class="text-gray-500">상품 상세</div>
          </div>
        </div>
        <div class="flex px-6 py-4 space-x-4">
          <img src="assets/icons/alter.svg" class="cursor-pointer w-6 h-6">
          <img src="assets/icons/profile_icon.svg" class="cursor-pointer w-8 h-8">
        </div>
      </div>
    </div>
    <div class="flex justify-between items-center px-12 pt-12">
      <div class="text-[24px] h-[29px] font-bold">상품 상세</div>
    </div>
    <div class="w-full h-full">
      <div>
        <div class="font-semibold gap-2 mt-8 mx-12">
          <div class="flex text-[20px] pb-2">썸네일<div class="text-red-600">*</div>
          </div>
        </div>
        <div class="h-full w-full gap-2 py-1 mx-12 shadow pr-12 bg-white border box-border rounded-md">
          <div class="rounded-lg p-5">
            <div class="flex relative space-x-5">
              <div>
                <div class="my_index_num_pro relative text-white">{{ slideIndex + 1}} / {{ thumbimages.length }}</div>
                <img class="w-[540px] h-[540px] rounded-lg" [src]="thumbimages[slideIndex]" />
                <div (click)="plusSlides(1)"
                  class="my_right_btn_pro flex items-center bg-black bg-opacity-30 justify-center w-12 h-12 rounded-full cursor-pointer active:bg-black active:bg-opacity-50">
                  <img src="assets/icons/right_icon.svg" class="my_right_icon_pro">
                </div>
              </div>
              <div class="flex justify-center itece px-[33px]">
                <div class="flex space-x-[9.5px] justify-center items-center">
                  <div class="w-[44px] h-[44px] border-2 border-green-800 rounded-lg bg-green-800">
                    <img src="assets/icons/personal_trainer3.jfif" class="rounded-lg w-[44px] h-[44px] mt-[-1px]">
                  </div>
                  <ng-container *ngFor="let t of imageObject">
                    <div class="w-[44px] h-[44px]">
                      <img [src]="t.thumbImage" class="w-[44px] h-[44px] rounded-lg">
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="flex relative">
          <div class="relative">
            <img src="assets/icons/spoon_img.svg" class="w-[540px] p-5">
            <div class="my_right_btn flex items-center bg-black bg-opacity-30 justify-center w-12 h-12 rounded-full">
              <img src="assets/icons/right_icon.svg" class="my_right_icon">
            </div>
            <div
              class="my_index_num bg-black bg-opacity-20 px-2 py-1 rounded-lg flex justify-center items-center text-white">
              1/9</div>
          </div>
          <div class="flex space-x-[9.5px] justify-center items-center">
            <div class="w-[44px] h-[44px] border-2 border-green-800 rounded-lg bg-green-800">
              <img src="assets/icons/spoon_img.jpg" class="rounded-lg">
            </div>
            <ng-container *ngFor="let t of imageObject">
              <div class="w-[44px] h-[44px]">
                <img [src]="t.thumbImage" class="w-[44px] h-[44px] rounded-lg">
              </div>
            </ng-container>
          </div>
        </div> -->
      </div>
    </div>
    <div>
      <div class="gap-2 mt-8 mx-12 space-y-1">
        <div class="font-semibold flex text-[20px] pb-2">상품 정보
          <div class="text-red-600">*</div>
        </div>
        <!-- <div class="bg-white box-border border shadow rounded-md" *ngFor="let t of imageObject">
             <img [src]="t.thumbImage">
            <div style="width: 845px; height: 500px; text-align:center;">
              <ng-image-slider #nav [images]="imageObject" [infinite]="true"
                [imageSize]="{width: '20%', height: 250}" slideImage="1"></ng-image-slider>
            </div>
          </div> -->
      </div>
    </div>
  </div>
  <!-- </div> -->
</ion-content>