<div class="grid grid-flow-col justify-center items-center pr-5 text-center text-gray-700">
  <img src="assets/icons/first_page.svg"
      class="w-9 h-9 rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
  <img src="assets/icons/left_page.svg"
      class="w-9 h-9 rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
  <div
      class="rounded-lg w-9 h-9 flex justify-center items-center bg-primary text-white active:bg-primary active:text-white cursor-pointer">
      1</div>
  <div
      class="w-9 h-9 rounded-lg flex justify-center items-center bg-gray-100 hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
      2</div>
  <div
      class="w-9 h-9 rounded-lg flex justify-center items-center hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
      3</div>
  <div
      class="w-9 h-9 rounded-lg flex justify-center items-center hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
      4</div>
  <img src="assets/icons/more_dot.svg"
      class="w-9 h-9 rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">

  <img src="assets/icons/right_page.svg"
      class="w-9 h-9 rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
  <img src="assets/icons/last_page.svg"
      class="w-9 h-9 rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
</div>