<ion-content>
    <div class="w-full h-full bg-gray-50">
        <div class="w-full h-16">
            <div class="w-full flex justify-between border border-b bg-gray-100 h-16">
                <div class="flex p-6">
                    <div class="flex w-full px-3 py-[0.75rem] text-[0.875rem] h-[1.125rem] items-center justify-center">
                        <div class=" cursor-pointer hover:bg-gray-200" routerLink="/dashboard">
                            대쉬보드
                        </div>
                        <img src="assets/icons/right.svg" class="w-[0.875rem] h-[0.875rem]">
                        <div class="text-gray-500">주문 관리</div>
                    </div>
                </div>
                <div class="flex px-6 py-4 space-x-4">
                    <img src="assets/icons/alter.svg" class="cursor-pointer w-6 h-6">
                    <img src="assets/icons/profile_icon.svg"
                        class="cursor-pointer w-8 h-8 hover:bg-red-500 focus:ring-black">
                </div>
            </div>
        </div>
        <div>
            <div class="text-[1.5rem] items-center px-12 pt-12 font-bold">
                <div class="font-semibold h-[2.625rem]">
                    주문 관리
                </div>
            </div>
            <!-- Order Frame -->
            <div class="gap-2 my-8 mx-12 shadow bg-white">
                <div class="w-full p-5 flex text-[0.875rem]">
                    <div class="w-full flex justify-between h-[2.3125rem]">
                        <div class="flex space-x-4">
                            <!-- <div class="whitespace-nowrap py-[10.09375rem] pr-4">일자 선택</div> -->
                            <select name="구분 선택" class="select py-2 border rounded-md px-3 shadow text-[0.875rem]">
                                <option value="1">주문상태 선택</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <div
                                class="flex items-center justify-start border border-b rounded-md shadow px-3 space-x-2">
                                <input type="date">
                                <!-- <input type="text" class="w-full" placeholder="검색어를 입력해주세요." [(ngModel)]="searchText"> -->
                            </div>
                            <div class="flex justify-center items-center ">~</div>
                            <div
                                class="flex items-center justify-start border border-b rounded-md shadow px-3 space-x-2">
                                <input type="date" data-placeholder="2022.12.31">
                                <!-- <input type="text" class="w-full" placeholder="검색어를 입력해주세요." [(ngModel)]="searchText"> -->
                            </div>
                        </div>
                        <div class="flex items-center space-x-6">
                            <div class="flex space-x-2">
                                <img src="assets/icons/toggle_icon.svg" class="cursor-pointer"
                                    (click)="toggleOptionGroupSetting()"
                                    [ngClass]="isOptionGroup ? '':'rotate-180 hover:bg-gray-100'">
                                <div class="whitespace-nowrap flex items-center">자동 승인</div>
                            </div>
                            <app-buttons class="border border-green-500 text-green-400 rounded-md" (click)="getAuth()">
                                승인</app-buttons>
                        </div>
                    </div>
                </div>
                <!-- Order detail Frame -->
                <div class="px-3 py-[0.09375rem] text-[0.875rem]">
                    <table class="w-full text-centeritems-center text-left table-fixed">
                        <thead>
                            <tr>
                                <th class="p-4 w-full">
                                    <div class="flex space-x-2 justify-center items-center">
                                        <div>
                                            전체
                                        </div>
                                        <!-- <ng-container *ngFor="let order of orders"> -->
                                            <input [(ngModel)]="allChecked" type="checkbox" class="cursor-pointer" (click)="checkAll()">
                                        <!-- </ng-container> -->
                                    </div>
                                </th>
                                <th class="p-4 w-full">주문번호</th>
                                <th class="p-4 w-full">주문상태</th>
                                <th class="p-4 w-full">배송상태</th>
                                <th class="p-4 w-full">주문자정보</th>
                                <th class="p-4 w-full">상품정보요약</th>
                                <th class="p-4 w-full">결제정보요약</th>
                                <th class="p-4 w-full">배송정보요약</th>
                                <th class="p-4 w-full">주문요청일자</th>
                            </tr>
                        </thead>
                        <ng-container *ngFor="let order of orders;">
                            <tbody class="hover:bg-gray-100 active:bg-gray-200 items-center w-full" (click)="goDetail($event, order.orderNumber)">
                                <tr>
                                    <td class=" w-full h-full">
                                        <div class="flex justify-center items-center">
                                            <input #checkbox type="checkbox" class="cursor-pointer checkbox" (click)="isClicked(order.orderNumber)">
                                        </div>
                                    </td>
                                    <td class="p-4">{{order.createdAt | date: 'yyyyMMdd'}}{{ order.orderNumber }}
                                    </td>
                                    <td class="p-4">
                                        <div *ngIf="order.orderStatus === '주문승인'"
                                            class="w-fit h-fit px-2 py-1 border box-border rounded-md bg-green-50 border-green-200 text-green-500">
                                            {{ order.orderStatus }}
                                        </div>
                                        <div *ngIf="order.orderStatus === '주문취소'"
                                            class="w-fit h-fit px-2 py-1 border box-border rounded-md bg-yellow-50 border-yellow-200 text-yellow-500">
                                            {{ order.orderStatus }}
                                        </div>
                                        <div *ngIf="order.orderStatus === '주문대기'"
                                            class="w-fit h-fit px-2 py-1 border box-border rounded-md bg-gray-50 border-gray-200 text-gray-500">
                                            {{ order.orderStatus }}
                                        </div>
                                        <div *ngIf="order.orderStatus === '주문거절'"
                                            class="w-fit h-fit px-2 py-1 border box-border rounded-md bg-red-50 border-red-200 text-red-500">
                                            {{ order.orderStatus }}
                                        </div>
                                    </td>
                                    <td class="p-4">
                                        <div *ngIf="order.shippingStatus === '배송완료'"
                                            class="w-fit h-fit px-2 py-1 border box-border rounded-md bg-green-50 border-green-200 text-green-500">
                                            {{ order.shippingStatus }}
                                        </div>
                                        <div *ngIf="order.shippingStatus === '배송대기중'"
                                            class="w-fit h-fit px-2 py-1 border box-border rounded-md bg-gray-50 border-gray-200 text-gray-500">
                                            {{ order.shippingStatus }}
                                        </div>
                                        <div *ngIf="order.shippingStatus === '배송중'"
                                            class="w-fit h-fit px-2 py-1 border box-border rounded-md bg-yellow-50 border-yellow-200 text-yellow-500">
                                            {{ order.shippingStatus }}
                                        </div>
                                    </td>
                                    <!-- 주문자정보 -->
                                    <td class="p-4">
                                        {{ order.orderName }}<br>
                                        0{{order.phoneNumber}}
                                    </td>
                                    <!-- 상품정보 -->
                                    <td class="p-4">
                                        {{ order.product }} x {{ order.amount }}
                                    </td>
                                    <!-- 결제 정보 -->
                                    <td class="p-4" *ngIf="order.purchaseMethod === '카드결제'">
                                        온라인 {{ order.purchaseMethod }}
                                    </td>
                                    <td class="p-4" *ngIf="order.purchaseMethod !== '카드결제'">
                                        {{ order.orderName }}<br>
                                        ㅇㅇ은행<br>
                                        {{ order.purchase}}
                                    </td>
                                    <td class="p-4">
                                        {{ order.shipping }}<br>
                                        배송비 : {{ order.shipcost | number: '1.0-0' }}원(자부담)<br>
                                        {{ order.shipAddress }}
                                    </td>
                                    <td class="p-4">{{ order.createdAt | date: 'yyyy-MM-dd' }}</td>
                                    <td class="px-4 h-[4.125rem]">{{ order.buy }}<br>{{ order.sell }}</td>
                                    <td class="px-4 h-[4.125rem]">{{ order.regist }}<br>{{ order.update }}</td>
                                </tr>
                            </tbody>
                        </ng-container>
                    </table>
                </div>
                <div class="flex justify-between px-5">
                    <div class="pt-[1.625rem] pb-[1.875rem] flex justify-center items-center">
                        <div
                            class="ml-2 flex w-[3.9375rem] h-[2.375rem] border border-gray-700 rounded-lg items-center justify-center shadow-sm">
                            <div class="text-[0.875rem] pr-1">
                                <select name="test" id="" class="w-full px-2 justify-center">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                </select>
                            </div>
                        </div>
                        <div class="px-2 text-[0.875rem]">
                            개씩 보기
                        </div>
                    </div>

                    <div class="grid grid-flow-col justify-center items-center pr-5 text-center text-gray-700">
                        <img src="assets/icons/first_page.svg"
                            class="w-[2.25rem] h-[2.25rem] rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                        <img src="assets/icons/left_page.svg"
                            class="w-[2.25rem] h-[2.25rem] rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                        <div
                            class="rounded-lg w-[2.25rem] h-[2.25rem] flex justify-center items-center bg-primary text-white active:bg-primary active:text-white cursor-pointer">
                            1</div>
                        <div
                            class="w-[2.25rem] h-[2.25rem] rounded-lg flex justify-center items-center bg-gray-100 hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                            2</div>
                        <div
                            class="w-[2.25rem] h-[2.25rem] rounded-lg flex justify-center items-center hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                            3</div>
                        <div
                            class="w-[2.25rem] h-[2.25rem] rounded-lg flex justify-center items-center hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                            4</div>
                        <img src="assets/icons/more_dot.svg"
                            class="w-[2.25rem] h-[2.25rem] rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">

                        <img src="assets/icons/right_page.svg"
                            class="w-[2.25rem] h-[2.25rem] rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                        <img src="assets/icons/last_page.svg"
                            class="w-[2.25rem] h-[2.25rem] rounded-lg hover:bg-gray-100 active:bg-primary active:text-white cursor-pointer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>