/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "./theme/variables.scss";
@import "./theme/ion-modal.scss";

// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';
@media (min-width: 680px) {
    .mymodal {
        --width: 348px;
        --height: 375px;
        font-size: 16px;
        --border-radius: 4px;
        border-radius: 8px;
    }
}

@media (min-width: 680px) {
    .modify_modal {
        --width: 348px;
        --height: 207px;
        font-size: 16px;
        --border-radius: 4px;
        border-radius: 8px;
    }
}

@media (min-width: 680px) {
    .add_stock {
        --width: 348px;
        --height: 500px;
        font-size: 16px;
        --border-radius: 4px;
        border-radius: 8px;
    }
}

@media (min-width: 680px) {
    .order_refuse {
        --width: 348px;
        --height: 361px;
        font-size: 16px;
        --border-radius: 4px;
        border-radius: 8px;
    }
}

@media (min-width: 680px){
    .addmission {
        --width:348px;
        --height:246px;
        font-size: 16px;
        --border-radius: 4px;
        border-radius: 8px;
    }
}

@media (min-width: 680px){
    .customerRefund {
        --width:348px;
        --height: 74%;
        font-size: 16px;
        --border-radius: 4px;
        border-radius: 8px;
    }
}

@media (min-width: 680px){
    .companyRefund {
        --width:348px;
        --height: 80.75%;
        font-size: 16px;
        --border-radius: 4px;
        border-radius: 8px;
    }
}

@media (min-width: 680px){
    .refundReason {
        --width: 348px;
        --height: 20.25%;
        font-size: 16px;
        --border-radius: 4px;
        border-radius: 8px;
    }
}

@media (min-width: 680px){
    .returningCompany {
        --width:348px;
        --height: 66.6%;
        font-size: 16px;
        --border-radius: 4px;
        border-radius: 8px;
    }
}

@media (min-width: 680px){
    .returningCustomer {
        --width:348px;
        --height: 61%;
        font-size: 16px;
        --border-radius: 4px;
        border-radius: 8px;
    }
}

@media (min-width: 680px){
    .returnComplete {
        --width:348px;
        --height: 57.75%;
        font-size: 16px;
        --border-radius: 4px;
        border-radius: 8px;
    }
}

.ion-accordion-toggle-icon{
    font-size: 14px;
    color: white;
  }