<div class="mymodal">
  <div class="w-full h-[3.5rem] flex justify-between bg-primary text-white">
    <div class="px-5 py-4">재고 등록</div>
    <img src="assets/icons/cancel.svg" class="px-5 py-4" (click)="handleClose()">
  </div>
  <div class="w-full h-[12.8125rem] p-5">
    <div class="w-full h-16">
      <div class="w-full h-11 p-[0.625rem] space-x-2 flex">
        <div class="w-15 py-[0.625rem] whitespace-nowrap">거래처명</div>
        <select name="거래처 검색" class="w-full h-11 items-center justify-start border border-b rounded-md px-3 ">
          <option value="1">Search</option>
          <option value="2">거래처 A</option>
          <option value="3">거래처 B</option>
        </select>
      </div>
    </div>
    <div class="w-full h-16">
      <div class="w-full h-11 p-[0.625rem] space-x-2 flex">
        <div class="ml-4 w-15 py-[0.625rem] text-right whitespace-nowrap">상품명</div>
        <input type="text" class="w-full h-11 border border-b rounded-md px-3 " placeholder="검색어를 입력해주세요.">
      </div>
    </div>
    <div class="w-full h-16">
      <div class="w-full h-11 p-[0.625rem] space-x-2 flex">
        <div class="ml-4 w-15 py-[0.625rem] whitespace-nowrap">사입가</div>
        <input type="text" class="w-[12.3125rem] h-11 border border-b rounded-md px-3 " placeholder="20,000">
        <div class="py-[0.625rem]">원</div>
      </div>
    </div>
  </div>
  <div class="w-full h-[3.5625rem] pb-[1.875rem] px-[1.875rem] items-end flex justify-end">
    <button class="w-14 h-[2.3125rem] rounded-0.375rem text-white bg-primary text-[1.125rem]">저장</button>
  </div>
</div>