// .은 클래스
.select {
    -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
//   background: url('assets/icons/accordian.svg') calc(100% - 5px) center no-repeat;
}

// id 입력
#select {

}

select::-ms-expand{
    display: none;
}
ion-modal.mymodal {
    --width: 348px;
    --height: 100px;
    font-size: 16px;
    --border-radius: 4px;
    border-radius: 8px;
}
@media (min-width: 680px) {
  .mymodal {
      --width: 348px;
      --height: 100px;
      font-size: 16px;
      --border-radius: 4px;
      border-radius: 8px;
  }
}
.modal-container {
  background: rgba(0,0,0,.5);
  display: none;
  /* this is how we cover the entire page */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container.show-modal {
  display: block;
}
